[project]
name = "introduccion-python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "marimo[recommended]>=0.19.11",
]
